@import 'vars';
@import 'global';


// start header
.header__top{
  background-color: #eef1f3;
}
.header__top-inner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo{
    display: flex;
    align-items: center;
    &-name{
      font-size: 30px;
      line-height: 28px;
      font-weight: 700;
      color: #000;
      span{
        color: $blue;
      }
    }
    a{
      margin: 0 5px;
    }
  }
}
.header__button{
  margin-left: auto;
  width: 140px;
  height: 36px;
  background-color: $blue;
  border-radius: 30px;
  text-align: center;
  margin-right: 50px;
  a{
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
}
.header__icons{
  width: 150px;
  margin-right: 45px;
  .icons__list{
    height: 100px;   
    padding-bottom: 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;   
    .lnr{
      position: absolute;
      display: block;      
      font-size: 20px;  
      color: rgb(126, 143, 161);
      bottom: -12px;
      left: -10px;
     }
     a{   
       position: relative;   
       font-size: 14px;
       line-height: 15px;
       color: #fff;
       height: 22px;
       padding:4px 7px;
       border-radius: 50%;       
     }
  }
}
.messages__box,
.notification__box{
  position: relative; 
  height: 130px; 
  padding-top: 50px;
  transition: all 0.5s;
  &:hover{
    .messages__menu,
    .notification__menu{
      height: auto;
      cursor: pointer;
      border-top: 1px solid $blue;
      transition: all 0.5s;
    }
    .messages__triangle,
    .notification__triangle{
      display: block;
    }    
  }
}
.messages__triangle{
  right: 30px;
  top: 119px;  
  display: none;
  transition: all 0.5s;
}
.messages__menu,
.notification__menu{
  position: absolute;
  width: 370px;
  background-color: #fff;
  z-index: 5;
  top: 129px;
  right: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  transition: all 0.3s;
  overflow: hidden;
  height: 0;
  transition: all 0.5s;  
}
.messages__item{
  &-all{    
    padding: 17px 25px;
    height: 65px;
    font-size: 18px;
    line-height: 28px;
    color: #000;    
    span{  
      padding-left: 148px;    
      color: $blue;
      font-size: 15px;
    }
  }
  &-message{        
    height: 83px;
    border-top: 1px solid #e8ebf0; 
    position: relative;
    img{      
      position: absolute;
      width: 40px;
      height: 40px;            
      border-radius: 50%; 
      left: 25px;   
      top: 20px;  
    }    
    &-name{    
      position: absolute;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #333;
      left: 80px;
      top: 15px;
      span{
        &::before{
          position: absolute;
          left: 80px;
          top: -29px;
          font-size: 15px;
          color: $blue;
        }
      }
    }
    &-date{
      position: absolute;
      color: $blue;
      font-size: 14px;
      line-height: 28px;  
      right: 25px;
      top: 15px;
    }
    &-text{
      position: absolute;
      font-size: 15px;
      line-height: 20px; 
      left: 80px;
      top: 45px;
    }
  }  
}
.notification__triangle{
  top: 119px;
  left: 20px;
  display: none;
}
.notification__menu{
  left: 0;
}
.notification__item{
  &-all{
    padding: 25px;
    height: 65px;
    font-size: 18px;
    line-height: 28px;
    color: #000;    
    span{  
      padding-left: 125px;    
      color: $blue;
      font-size: 15px;
    }
  }
  &-notification{
    height: 100px;
    margin: 0 25px;
    padding: 20px 0;
    border-top: 1px solid #e8ebf0;
    display: flex; 
    position: relative;   
    &-img{      
      width: 40px;
      height: 40px;            
      border-radius: 50%; 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 15px;
    }
    &-name{      
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: #333;
      span{
        font-size: 15px;
        font-weight: 400;
        color: #747a86;
      }
    }
    &-place{
      font-size: 15px;
      line-height: 26px;
      color: $blue;
    }
    &-date{
      font-size: 14px;
      line-height: 20px;
      color: #747a86;
    }
  }
}    
.notification__item-notification__icon{
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f1ecf9;
  right: 0;
  top: 40px;  
  span{
    padding-bottom: 19px;
    padding-left: 17px;
    color: #7347c1;
    font-size: 15px;
  }
}
.client__box{
  margin-left: 30px;
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  transition: all 0.5s;  
  &:hover{
    .client__menu{
      height: auto;
      overflow: visible;
      padding: 20px;
      border-top: 1px solid $blue; 
      border-radius: 2px;           
    }
  }
}
.triangle{
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  border-bottom: 10px solid $blue;
  z-index: 5;
}
.client__triangle{    
  right: 30px;
  top: -10px;  
}
.client__menu{  
  position: absolute;
  z-index: 1;
  top: 99px;
  right: 0;
  border-radius: 0 0 4px 4px;
  border-top: none;
  width: 270px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  a{
  padding-left: 10px;
  width: 230px;
  height: 45px;
  color: #54667a;
  font-size: 15px;
  line-height: 44px;  
  transition: all 0.3s;
  span{
    margin-right: 15px;
  }  
}
}
.client__menu li:hover{
  background-color: $blue;
  transition: all 0.5s;
  a{
    color: #fff;
  }
}
.header__client-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #7c7979;
  margin-right: 20px;
}
.header__client-name{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #333333;
}
.header__client-depo{
  color: $blue;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.header__menu-inner{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu{
    width: 500px;
    height: 100%;
  }
  .menu__list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    & li a{
      text-transform: uppercase;
      font-size: 15px;
      line-height: 42px;
      font-weight: 500;
      color: #333333;
      height: 110px;
      padding-top: 20px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover{
        color: $blue;
      }
    }
  }
}
.menu__search form{
  display: flex;
  width: 360px;
  height: 45px;
  position: relative;  
  input{
    outline: none;
    display: block;
    width: 100%;
    border-radius: 23px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding: 0 80px 0 25px;    
    &::placeholder{
      color: #898f96;
    }
  }
  button{
    width: 70px;
    height: 45px;
    border-radius: 23px; 
    border: none;
    background-color: $blue;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}
.lnr-magnifier{
  color: #fff;
}
.home__box,
.products__box,
.wordpress__box{
  position: relative;
  &:hover{
    .home__menu,
    .products__menu,
    .wordpress__menu{
      padding: 20px;
      height: auto;
      border-top: 1px solid $blue;
    }
    
  }
}

.home__menu,
.products__menu,
.wordpress__menu{
  position: absolute;
  z-index: 1;  
  left: 0;
  border-radius: 0 0 4px 4px;  
  border-top: none;
  top: 79px;
  width: 270px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  transition: all 0.3s;
  height: 0;
  overflow: hidden;  
  .home__list li a,
  .products__list li a,
  .wordpress__list li a{
    text-transform: none;
    padding: 0;
    width: 230px;
    height: 40px;
    padding: 0px 0 50px 15px;
    color: #54667a;
    font-size: 15px;
    line-height: 45px;  
    transition: all 0.3s;
  }
}

.home__menu li:hover,
.products__menu li:hover,
.wordpress__menu li:hover{
  background-color: $blue;
  border-radius: 2px;
  transition: all 0.5s;
  a:hover{
    color: #fff;
  }
}
// end header
// start slider

.slider{
  min-height: 726px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.slider__inner{
  padding: 175px 0;
  text-align: center;
  position: relative;
  &-title{
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    color: #f3f3f8;
    span{
      font-weight: 700;
      display: block;
      margin-bottom: 40px;
    }
  }
  &-text{
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    color: #f3f3f8;
    margin-bottom: 70px;
  }
}
.slider__button-all{
  height: 55px;
  width: 190px;
  background-color: #fff;
  border-radius: 32px;
  border: none;
  margin-right: 15px;
  a{
    font-size: 16px;
    font-weight: 400;
    color: $blue;
  }
}
.slider__button-popular{
  height: 55px;
  width: 190px;
  background-color: $blue;  
  border-radius: 32px;
  border: 1px solid #fff;
  margin-left: 15px;
  a{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}
.slider__inner-search{
  position: absolute;
  bottom: -114px;
  display: flex;
  width: 1140px;
  height: 135px;
  padding: 40px;  
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}
.slider__search-wrapper{
  width: 100%;
  position: relative;
  z-index: 5;
}
.slider__search-wrapper::before{
  position: absolute;
  content: "";
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.7;
  width: 1078px;
  height: 135px;
  z-index: -1;
  top: -66px;
  left: -9px;
}
.slider__search-wrapper::after{
  position: absolute;
  content: "";
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.7;
  width: 1112px;
  height: 135px;
  z-index: -1;
  left: -25px;
  top: -53px;
}
.slider__search{
  display: flex;
  justify-content: space-between;
  input{
    width: 612px;
    height: 55px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #dcdcdc;
    padding: 0 25px;
  }
  button{
    background-color: $blue;
    width: 222px;
    height: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    span{
      font-size: 16px;
      line-height: 42px;
      font-weight: 400;
      color: #fff;      
    }
  }
}
.categories{
  left: -17px;
  width: 195px;
  height: 55px;
  margin-right: auto;
  border: 1px solid #dcdcdc;
  border-radius: 0 5px 5px 0;
  color: #555555;
  padding: 10px 65px 23px 17px; 
  position: relative;
  cursor: pointer;
}
.categories::after{
  position: absolute;
  content: "";
  background-image: url(../images/icons/chevron-down.png);
  width: 13px;
  height: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: 25px;
  top: 25px
}
.categories__list{
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  position: absolute;
  top: 53px;
  left: -1px;
  width: 195px; 
  border: 1px solid #dcdcdc;
  display: none;
  & li{
    height: 45px;
    & + li{
      border-top: 1px solid #dcdcdc;
    }
  }
}
// end slider
// start features

.features{
  min-height: 710px;
}
.features__inner{
  padding-top: 185px;
  &-items{
    display: flex;
    justify-content: space-between;
  }
  &-item{
    width: 360px;
    height: 400px;
    text-align: center;
    padding: 40px 30px;
  }
  &-title{
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-top: 30px;
  }
  &-text{
    margin-top: 30px;
    color: $text;    
  }
}
.features__inner-item:hover {
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s;
}
// end features
// start weekly
.weekly{
  min-height: 850px;
  background-color: #eff1f5;
  padding-top: 120px;
}
.weekly__top{
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 28px;
  margin-bottom: 50px;
  border-radius: 4px;
box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &-title{
    font-size: 30px;
    line-height: 28px;  
  }
  &-button{
    display: flex;
    text-align: center;   
  }
  &-button-right{
    background-color: #7347c1;
    width: 55px;
    border-radius:0 25px 25px 0;
    height: 45px;
    padding-top: 7px;
  }
  &-button-left{
    background-color: #7347c1;
    width: 55px;
    border-radius: 25px 0 0 25px;
    height: 45px;
    padding-top: 7px;
  }
}
.weekly__slider{
  position: relative;
}
.slick-prev.slick-arrow{
  position: absolute;
  right: 93px;
  top: -127px;
  height: 45px;
  width: 45px;
  border: none;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.slick-next.slick-arrow{
  position: absolute;
  right: 30px;
  top: -127px;
  height: 45px;
  width: 45px;
  border: none;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.weekly__big{
  width: 100%;
  height: 450px;
  background-color: #fff;
  display: flex;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  position: relative;
  &-left{
    height: 100%;
    width: 555px;
    background-color: #4e5760;
  }
  &-right{
    position: absolute;
    right: 0;
    top: 0;    
    width: 585px;
    padding: 40px 45px 25px 50px;  
    z-index: 1000;  
  }
}
.weekly__big-right{
  &-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &-user{
    font-size: 15px;
    color: #000;
    padding-left: 40px;
    position: relative;
    margin-bottom: 35px;
  }
  &-user::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 31px;
    background-color: #7347c1;
    border-radius: 50%;
    left: 0;
    top: 0;
  }
  &-user::after{
    position: absolute;
    content: "";
    width: 99px;
    height: 16px;
    background-image: url(../images/icons/wp.png);
    left: 120px;
    top: 6px;
  }
  &-links{
    margin: 35px 0;
    &-list{
      display: flex;
    }      
  }
}
.weekly__big-right-links-list li a{
  color: #868c96;
  display: block;
  height: 30px;
  padding-left: 19px;
  padding-right: 15px;
  background-color: #f1f3f6;
  margin-right: 7px;
  border-radius: 15px;
}
.weekly__big-right-footer{
  height: 80px;  
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly__big-right-footer-price{
  width: 100px;
  height: 30px;
  background-color: $blue;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}
.weekly__big-right-footer-icons{
  margin-right: auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly__big-right-footer-icons img{  
  width: 16px;
  height: 16px;
}
.weekly__big-right-footer-icons span{
  display: block;
  margin: 0 10px;
}
.weekly__big-right-footer-icons span:last-child{
  color: $blue;
}
// end weekly
// start newest
.newest{
  background-color: #f6f7fb;
  min-height: 1730px;
  padding: 120px 0;  
}
.newest__top{
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
  &-filter{
    margin-left: auto;
    margin-right: 25px;
    color: rgb(163, 177, 196);
  }
  &-button{
    margin-top: 20px;
  }
}
.newest__menu{
  height: 93px;
  padding: 30px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
  &-list{
    display: flex;      
    & li{
      margin-right: 10px;
      padding: 0 20px;
      background-color: #f1f3f6;
      border-radius: 15px;
      transition: all 0.3s;
      cursor: pointer;
      &:hover{
        background-color: $blue;        
      }
      & a{
        color: #747b86;
        transition: all 0.3s;
        &:hover{
          color: #fff;         
        }
      }
    }  
  }
}
.newest__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.newest__item{
  width: 360px;
  min-height: 530px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-top: 30px;
  &-image{
    height: 230px;    
    &:hover{
      background-image: url(../images/newest-bg.jpg);      
    }    
  }  
}
.newest__info{
  padding: 30px;
  &-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  &-author{
    font-size: 15px;
    color: #000;
    padding:0 40px;
    position: relative;
    margin-bottom: 40px;
  }
  &-author::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #7347c1;
    border-radius: 50%;
    left: 0;
    top: 0;
  }
  &-author::after{
    position: absolute;
    content: "";
    width: 99px;
    height: 16px;
    background-image: url(../images/icons/wp.png);
    left: 150px;
    top: 6px;
  }
}
.newest__item-footer{
  height: 60px;
  padding: 16px 30px;
  border-top: 1px solid #ececec;
  display: flex;  
  &-price{    
    height: 30px;
    background-color: #e6f1fd;
    border-radius: 15px;
    color: $blue;    
    margin-right: 15px;
    padding: 0 17px;
  }
  &-like {
    margin-right: auto;
    span{
      margin-left: 6px;
    }
  }
}
.newest__item-footer-cart span{
  margin-left: 6px;
  color: $blue;
}
.newest__button-wrapper{
  display: flex;
  justify-content: center;
}
.newest__button{    
  height: 55px;
  width: 190px;
  padding: 0 30px;
  background-color: $blue;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  a{
    color: #fff;
    line-height: 54px;
  }
}
// end newest
// start followers
.followers{
  min-height: 930px;
  background-color: #eff1f5;
  padding: 120px 0;
}
.followers__top{
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 28px;
  margin-bottom: 50px;
  border-radius: 4px;
box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  &-title{
    font-size: 30px;
    line-height: 28px;  
  }
  &-button{
    display: flex;
    text-align: center;   
  }
  &-button-right{
    background-color: $blue;
    width: 55px;
    border-radius:0 25px 25px 0;
    height: 45px;
    padding-top: 7px;
  }
  &-button-left{
    background-color: $blue;
    width: 55px;
    border-radius: 25px 0 0 25px;
    height: 45px;
    padding-top: 7px;
  }
}
.followers__item{
  width: 360px;
  min-height: 530px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-top: 30px;
  &-image{
    height: 230px;       
  }  
}
.followers__info{
  padding: 30px;
  &-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  &-author{
    font-size: 15px;
    color: #000;
    padding:0 40px;
    position: relative;
    margin-bottom: 40px;
  }
  &-author::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #7347c1;
    border-radius: 50%;
    left: 0;
    top: 0;
  }
  &-author::after{
    position: absolute;
    content: "";
    width: 99px;
    height: 16px;
    background-image: url(../images/icons/wp.png);
    left: 150px;
    top: 6px;
  }
}
.followers__item-footer{
  height: 60px;
  padding: 16px 30px;
  border-top: 1px solid #ececec;
  display: flex;  
  &-price{       
    height: 30px;
    background-color: #e6f1fd;
    border-radius: 15px;
    color: $blue;    
    margin-right: 15px;
    padding: 0 17px;
  }
  &-like {
    display: flex; 
    margin-right: auto;
    span{
      margin-left: 6px;
    }
  }
  & img{
    width: 15px;
    height: 15px;
    margin-top: 9px;
  }
}
.followers__item-footer-cart{
  display: flex;
  span{
    margin-left: 6px;
    color: $blue;
  }
}
.slick-slide {
  margin: 0 15px;
}
// end followers
// start black
.statistic{
  background-color: #212225;
  min-height: 350px;
  &__inner{
    padding: 95px 0;
    display: flex;
    justify-content: space-between;    
  }  
}
.statistic__item{
  text-align: center;
  &-logo{
    width: 100%;
    margin-bottom: 50px;
    & span{
      font-size: 36px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &-number{
    font-size: 36px;
    margin-bottom: 22px;
  }
  &-text{
    font-size: 18px;
    color: #fff;
  }
}
// end statistic
// start choose
.choose{
  margin: 120px 0;
  &__inner{
    text-align: center;
    &-title{
      font-size: 36px;
      color: #000;
      margin-bottom: 30px;
      & span{
        color: $blue;
      }
    }
    &-text{
      max-width: 670px;
      margin: 0 auto 60px; 
    }
  }
}
.choose__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}
.choose__item{
  margin-bottom: 30px;
  text-align: center;
  width: 360px;
  padding: 45px 30px 60px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  &::after{
    position: absolute;
    content: "01";
    font-size: 48px;    
    color: #5c87f8;
    opacity: 0.2;
    left: 20px;
    top: 20px;
  }
  &-logo{
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    & span{
      font-size: 60px;
      color: #7f4ec2;      
    }
  }
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 35px;
  }  
}
// end choose
// start sell-buy
.sell-buy{
  min-height: 560px;
  display: flex; 
  &__left,
  &__right{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    text-align: center;
    padding: 100px 0;    
  }
  &__logo{
    margin-bottom: 50px;
  }
  &__title{
    font-size: 36px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 25px;
  }
  &__text{
    color: #fff;
    margin-bottom: 50px;
    max-width: 580px;
    margin: 0 auto 50px;
  }
  &__button{
    width: 190px;
    height: 55px;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    a{
      color: #7347c1;
      margin-top: 10px;
    }
  }
}
// end sell-buy
// start feedback
.feedback{
  &__inner{
  margin: 120px 0;
  text-align: center;
  }  
}
.feedback__title{
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 35px;
  span{
    color: $blue;
  }  
}
.feedback__text{
  max-width: 680px;
  margin-bottom: 60px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.feedback__user{
  border-left: 2px solid $blue;
  border-radius:0 4px 4px 0;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  padding: 50px 40px;
  max-width: 555px;
  &-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  }
  &-info{
    margin-bottom: 45px;
    text-align: left;    
    padding:0 70px 0 100px;
    position: relative;
    .feedback__user-name{
      font-size: 20px;
      color: #000;
    }
    &::before{
      position: absolute;
      content: "";
      background-color: #808080;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      left: 0;
      top: 0;
    }
    .lnr-bubble{
      position: absolute;
      right: 0;
      top: 0;
      color: #e8e8e8;
      font-size: 60px;
    }
    
  }
}
.feedback__button{
  width: 190px;
  height: 55px;
  background-color: $blue;
  border-radius: 30px;
  margin: 0 auto;
  a{
    color: #fff;
    margin-top: 10px;
  }
}
// end feedback
// start news
.news{
  background-color: #eff1f5;
  &__inner{  
    padding: 120px 0;
    text-align: center;
  }
  &__title{
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 35px;
    span{
      color: $blue;
    }
  }
  &__text{
    max-width: 680px;    
    margin: 0 auto;  
    margin-bottom: 60px;  
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }  
}
.news__item{
  background-color: #fff;
  max-width: 360px;
  min-height: 475px;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  &-img{
    height: 230px;
  }
  &-title{
    min-height: 110px;
    font-size: 22px;
    font-weight: 500;
    color: #000;
    text-align: left;
    padding: 30px 30px 20px 30px;
  }
  &-text{
    padding: 0 30px 30px 30px;
    text-align: left;   
  }
  &-info{
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 30px;    
    .lnr{
      margin-right: 8px;
    }
    .lnr-clock{
      color: $blue;
    }
    &-date{
      position: relative;
      &::after{
        position: absolute;
        content: "";
        width: 1px;
        height: 40px;
        background-color: #ececec;
        right: -20px;
        top: -3px;
      }
    }
  }
}
// end news
// start guarantee
.guarantee__inner{
  min-height: 300px;
  display: flex;
}
.guarantee__item{
  height: 100%;
  width: 50%;
  border-right: 1px solid #e8eaf3;
  text-align: center;  
  padding: 60px 0;
}
.support__item{
  height: 100%;
  width: 50%;  
  text-align: center;  
  padding: 60px 0;
}
.guarantee__title{
  font-size: 24px;
  color: #000;
  margin-top: 30px;
  span{
    color: $blue;
  }
}
.support__title{
  font-size: 24px;
  color: #000;
  margin-top: 30px;
  span{
    color: #7347c1;
  }
}
// end guarantee
// start ready
.ready{
  background-image: linear-gradient( 180deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
  opacity: 0.902;
  &__inner{
    min-height: 400px;
    padding: 110px 0;
    text-align: center;
  }
  &__title{
    font-size: 36px;
    color: #fff;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 18px;
    color: #e7e7e7;
    margin-bottom: 55px;
  }
  &__button{
    width: 190px;
    height: 55px;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    a{
      color: $blue;
      margin-top: 10px;
    }
  }
}
// end ready
// start footer
.footer{
  background-color: #262b30;
  &__inner{
    padding: 130px 0 120px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{  
    font-size: 15px;
    color: #ababab;
    line-height: 28px;
    
    &-logo{
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      padding-left: 50px;
      margin-bottom: 40px;
      position: relative;
      span{
        color: $blue;
      }
      &::before{
        position: absolute;
        content: "";
        background-image: url(../images/logo-footer.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        left: 0;
        top: -7px;
      }
    }
    &-title{
      font-size: 18px;
      line-height: 42px;
      color: #fff;
      margin-bottom: 35px;
    }
    &-text{
      margin-bottom: 35px;
    }
    &-tel a{
      line-height: 26px;
      color: #ababab;
      margin-bottom: 10px;
      span{
        margin-right: 10px;
      }
    }
    &-email a{
      line-height: 26px;
      color: #ababab;
      margin-bottom: 10px;
      span{
        margin-right: 10px;
      }
    }
    &-adress a{
      line-height: 26px;
      color: #ababab;         
      span{
        margin-right: 10px;
      }   
    }
    &-list{
      a{
        line-height: 32px;
        color: #ababab;
      }
    }
  }
  &__item:first-child{
    width: 270px;
  }
  &__item.newsletter{
    max-width: 360px;
  }
}
.footer__enter form{
  display: flex;
  width: 360px;
  height: 45px;
  position: relative;
  margin-bottom: 50px;
  input{
    display: block;
    width: 100%;
    border-radius: 23px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding: 0 125px 0 25px;
    &::placeholder{
      color: #898f96;
    }
  }
  button{
    width: 110px;
    height: 45px;
    border-radius: 23px; 
    border: none;
    background-color: $blue;
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}
.footer__inner-social{
  display: flex;
  justify-content: space-between;
  width: 320px;  
}
.social-icon{
  width: 45px;
  height: 45px;  
  border-radius: 50%;
  text-align: center;
  padding-top: 11px;
}
// end footer
// start copywrite
.copywrite{
  background-color: #192027;
  text-align: center;
  height: 95px;
  color: #999999;
  font-size: 15px; 
  line-height: 27px;
  padding-top: 33px;
  span{
    color: #fff;
  }
}
// end copywrite
